.addComp form {
    border: 3px solid #ccc;
    width: 50%;
    margin: 5px auto;
}

#task {
    width: 70%;
    height: 35px;
    font-size: 25px;
    line-height: 35px;
}

button[type="submit"] {
    width: 27%;
    margin-left: 2%;
    height: 35px;
    border: none;
    background-color: #555555;
    color: white;
    cursor: pointer;
}